%a.st-btn.disabled{href: '#', role: 'prev-page'}Предыдущая страница

%a.st-btn.disabled{href: '#', role: 'next-page'}Следующая страница
%a.st-btn.disabled{href: '#', role: 'more-button'} Подгрузить следующую страницу
