%a.st-btn.disabled{href: '#', role: 'first-page', title: 'Первая страница'}
  %strong &lt;&lt;
%a.st-btn.disabled{href: '#', role: 'prev-page', title: 'Предыдущая страница'}
  %strong &lt;
%span{role: 'first-row'} ?
\-
%span{role: 'last-row'} ?
из
%span{role: 'total-rows'} ?
%a.st-btn.disabled{href: '#', role: 'next-page', title: 'Следующая страница'}
  %strong &gt;
%a.st-btn.disabled{href: '#', role: 'last-page', title: 'Последняя страница'}
  %strong &gt;&gt;
%a.st-btn.disabled{href: '#', role: 'more-button', title: 'Подгрузить следующую страницу'} Подгрузить следующую страницу
