%a.st-btn.disabled{href: '#', role: 'prev-page', title: 'Предыдущая страница'} &larr;
%span{role: 'first-row'} ?
\-
%span{role: 'last-row'}?
из
%span{role: 'total-rows'} ?
%a.st-btn.disabled{href: '#', role: 'next-page', title: 'Следующая страница'} &rarr;
%a.st-btn.disabled{href: '#', role: 'more-button', title: 'Подгрузить следующую страницу'} Подгрузить следующую страницу
