.main-container
  .table-header{role: 'header'}

  .table-container{role: 'table-container'}
    .st-table-container
      .st-overlay-container
        .st-resizer-container
        .st-selection-container
        .st-coldrag-container
      .st-table-header-left-pane
      .st-table-header-right-pane
      .st-table-left-viewport
      .st-table-right-viewport
    .table-pre-renderer
      %table.st-table-pre-render

  .table-footer{role: 'footer'}
