.table-header{role: 'header'}

.table-container{role: 'table-container'}
  .st-table-container
    .st-table-header-left-pane
      .st-table-header-left-columns
    .st-table-header-right-pane
      .st-table-header-right-columns
    .st-table-left-viewport
      .st-table-left-canvas
    .st-table-right-viewport
      .st-table-right-canvas

.table-footer{role: 'footer'}