@import bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/variables
@import bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/mixins
@import fonts
@import include

.main-container
  display: table
  width: 100%
  height: 100%

.table-container
  display: table-row
  overflow: hidden
  width: 100%
  height: 100%

.table-header
  display: table-row
  height: 30px

.table-footer
  position: relative
  height: 0

.st-table-container
  position: relative
  border: 1px solid black
  overflow: hidden

.st-table-container table, tr, td
  border-spacing: 0
  margin: 0
  padding: 0

.table-pre-renderer
  position: fixed
  top: -10000px
  left: -10000px
  width: 100px
  height: 100px
  z-index: 0
  overflow: hidden

table.st-table-pre-render
  table-layout: fixed
  border-collapse: collapse

.st-table-pre-render table, tr, td, th
  border-spacing: 0
  margin: 0
  padding: 0

.st-table-container td, th
  overflow: hidden
  line-height: inherit

.st-table-header-left-pane
  position: absolute
  top: 0
  left: 0
  overflow: hidden
  border-right: 2px solid #eeeeee

.st-table-header-right-pane
  overflow: hidden
  position: absolute
  top: 0

.st-table-header-left-columns
  table-layout: fixed
  border-collapse: collapse
  position: relative
  overflow: hidden

.st-table-header-right-columns
  table-layout: fixed
  border-collapse: collapse
  position: relative
  overflow: hidden

.st-table-header-column
  overflow: hidden
  text-align: center
  vertical-align: middle
  white-space: nowrap
  border: 1px solid #bbbbbb

.st-table-left-viewport
  position: absolute
  overflow-y: hidden
  overflow-x: scroll
  border-right: 2px solid #eeeeee
  left: 0

.st-table-right-viewport
  position: absolute
  overflow-y: auto
  overflow-x: scroll

.st-table-left-canvas
  table-layout: fixed
  border-collapse: collapse

.st-table-right-canvas
  table-layout: fixed
  border-collapse: collapse

.st-table-row
  display: table-row
  height: 19px

.st-table-cell
  display: table-cell
  white-space: nowrap
  padding: 0 4px
  border: 1px solid #dddddd

.scrollbar-place
  border-left: 1px solid #dddddd

.numeric-cell
  text-align: right

.st-table-column-holder
  width: 120px
  padding: 0

.st-table-row-holder
  padding: 0

.st-btn
  margin-right: 10px
  &:active, &:visited
    color: blue
  &.disabled
    color: #dddddd

.st-sort-block
  cursor: pointer
  display: inline-block
  color: #ccc
  .active
    color: #333
  .semi-active
    color: #888

.st-resize-container
  position: absolute
  top: 0
  left: 0

.st-resize-block
  position: absolute
  cursor: e-resize
  padding: 0
  margin-left: -5px
  width: 5px
  z-index: 200
  &:hover
    background-color: blue

.st-resizing-bar-holder
  position: absolute
  padding: 0
  width: 5px
  z-index: 300

.st-resizing-bar
  cursor: e-resize
  padding: 0
  border: 0
  width: 5px
  background-color: red

.st-resizing-drop-bar
  padding: 0
  border: 0
  margin-left: 2px
  width: 1px
  background-color: red

.st-drag-div
  cursor: ew-resize
  border: 0
  outline: 1px solid darkblue
  background-color: rgba(153, 255, 255, 0.2)
  position: absolute
  padding: 0
  overflow: hidden
  z-index: 400
