$tableHeaderFontSize: 11px
%st-table-cell-content
  color: $textColor
  font-size: $baseFontSize
  border:
    top: 0
    right: 1px solid $grayLightest
    bottom: 1px solid $grayLightest
  padding:
    left: $grid-gutter-width / 2
    right: $grid-gutter-width / 2
    top: 5px
    bottom: 5px

%st-table-cell
  td,
  th
    @extend %st-table-cell-content

.st-table-pre-render
  @extend %st-table-cell

.st-table-header-left-pane,
.st-table-header-right-pane
.st-table-left-viewport,
.st-table-right-viewport
  @extend %st-table-cell

.st-table-header-left-pane,
.st-table-left-viewport
  border-right: 2px solid $grayLighter

.st-table-header-left-pane,
.st-table-header-right-pane
  border-bottom: 4px solid $grayLighter
  margin-top: -4px
  th
    font:
      size: $tableHeaderFontSize
      weight: bold
    text-transform: uppercase
    color: $gray


// guide to cells highlighting

@each $i in 1 4px, 2 3px, 3 2px, 4 1px
  td.row-cell-header-level#{nth($i,1)}
    background-color: #fff
    font-size: $baseFontSize + nth($i,2)
    font-weight: bold
    @if round(nth($i,1)/2) != nth($i,1)/2
      text-transform: uppercase
      font-size: $baseFontSize + nth($i,2) - 2px
      letter-spacing: 1px
