$tableHeaderFontSize: 11px
%st-table-cell
  color: $textColor
  font-size: $baseFontSize
  border:
    right: 1px solid $grayLightest
    bottom: 1px solid $grayLightest
  padding:
    left: $grid-gutter-width / 2
    right: $grid-gutter-width / 2

//.row-cell-header
  @extend %st-table-cell
  font:
    size: $tableHeaderFontSize
    weight: bold
  text-transform: uppercase
  color: $gray

.st-fixed-table-left,
.st-fixed-table-right
  td,
  th
    @extend %st-table-cell

.st-table-header-left-pane,
.st-table-header-right-pane
  border-bottom: 4px solid $grayLighter
  margin-top: -3px
  th
    @extend %st-table-cell
    font:
      size: $tableHeaderFontSize
      weight: bold
    text-transform: uppercase
    color: $gray


.st-table-header-left-pane,
.st-table-left-viewport
  border-right: 2px solid $grayLighter


